html {
  color-scheme: light dark;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

#input {
  display: none;
}

#image-pattern-wrapper {
  display: flex;
}

#image-pattern-wrapper > * {
  width: 50%;
}
